/*Universal styles*/

/*
rgb(0, 102, 34) Dark
rgb(0, 204, 68) Light
*/


html {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(images/Site-bg.jpg);
    background-attachment: fixed;
}

/*Header Section*/

#title {
    width: 100%;
    margin: auto;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    background-color: rgba(0, 102, 34, 1);
    height: 60px;
}

#img-container1 {
    display: flex;
    width: 100%;
    height: 200px;
    margin: auto;
    overflow: clip;
    justify-content: center;
}

#styles {
    display: flex;
    width: 100%;
    background-color: rgba(0, 102, 34, 1);
    margin: auto;
    height: 30px;
    justify-content: space-around;
}

.dance-style {
    height: 30px;
    margin: auto;
    font-size: 1.5em;
}

/*Navigation section*/

nav {
    background-color: rgba(0, 102, 34, 1);
    width: 100%;
    
    display: flex;
}

a {
    color: whitesmoke;
    font-family: fantasy;
    padding: 0.5em;
    align-self: center;
    border: black 1px solid;
    width: 85%;
    text-align: center;
}

/*Main Section about the school*/

#about-school {
    width: 100%;
    margin: auto;
    background-color: rgba(0, 204, 68, 0.5);
    margin-top: 10px;
    padding: 10px 0;
}

.about-title {
    margin: auto;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.about {
   font-size: 1.2em;
   margin: 5px;
   padding-top: 20px;
}


.devider {
    background-color: black;
    height: 15px;
    margin: 5px;
}

/*Main, tables*/

.table-container {
    background-color: rgba(0, 204, 68, 0.5);
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
}

table {
    margin: 10px auto;
    font-size: 1em;
    border: 5px double black;
    width: 90%;
}

th {
    font-weight: bolder;
}

td {
    border: 3px solid black;
    padding: 5px;
    background-color: rgba(0, 102, 34, 1);
    color: white;
}

/*Footer*/

.footer {
    width: 100%;
    background-color: rgba(0, 102, 34, 1);
    margin: auto;
    height: 20px;
}