/*Universal styles*/

/*
rgb(0, 102, 34) Dark
rgb(0, 204, 68) Light
*/


html {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(images/Site-bg.jpg);
    background-attachment: fixed;
}

/*Header Section*/

#title {
    width: 60%;
    margin: auto;
    border: 1px solid white;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    background-color: rgba(0, 102, 34, 1);
    height: 100px;
}

#img-container1 {
    display: flex;
    width: 60%;
    height: 400px;
    margin: auto;
    overflow: clip;
    justify-content: center;
}

#styles {
    display: flex;
    width: 60%;
    background-color: rgba(0, 102, 34, 1);
    margin: auto;
    height: 30px;
    justify-content: space-around;
}

.dance-style {
    height: 30px;
    margin: auto;
    font-size: 1.5em;
}

/*Navigation section*/
nav {
    background-color: black;
    width: 10%;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 60px;
    top: 100px;
    margin-right: 10px;
}

a {
    color: whitesmoke;
    font-family: fantasy;
    padding: 0.5em;
    align-self: center;
    width: 85%;
    /*border: 1px solid white;*/
}

/*Main Section about the school*/

#about-school {
    width: 60%;
    margin: auto;
    background-color: rgba(0, 204, 68, 0.5);
    padding: 30px 0;
}

.about-title {
    margin: auto;
    text-align: center;
    font-size: 2em;
}

.about {
   font-size: 2em;
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 10px;
   padding-top: 20px;
}


.devider {
    background-color: black;
    height: 15px;
    width: 80%;
    margin: auto;
}