/*Universal styles*/

/*
rgb(0, 102, 34) Dark
rgb(0, 204, 68) Light
*/


html {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url(images/Site-bg.jpg);
    background-attachment: fixed;
}

/*Header Section*/

#title {
    width: 60%;
    margin: auto;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    background-color: rgba(0, 102, 34, 1);
    height: 100px;
}

#img-container1 {
    display: flex;
    width: 60%;
    height: 400px;
    margin: auto;
    overflow: clip;
    justify-content: center;
}

#banner {
    display: flex;
    width: 60%;
    background-color: rgba(0, 102, 34, 1);
    margin: auto;
    height: 30px;
    justify-content: space-around;
}

.dance-style {
    height: 30px;
    margin: auto;
    font-size: 1.5em;
}

/*Navigation section*/

nav {
    background-color: rgb(0, 102, 34);
    width: 10%;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 80px;
    top: 100px;
    margin-right: 10px;
    padding: 0 5px;
}

a {
    color: whitesmoke;
    font-family: fantasy;
    font-size: 1.7em;
    padding: 0.5em;
    align-self: center;
    width: 85%;
    border: 5px double black;
    margin: 1px;
}

/*Main Section about the school*/

#about-school {
    width: 60%;
    margin: 10px auto 0;
    background-color: rgba(0, 204, 68, 0.5);
    padding: 10px 0;
}

.about-title {
    margin: auto;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.about {
   font-size: 2em;
   font-weight: bold;
   margin-left: 100px;
   margin-top: 10px;
   padding-top: 20px;
}

#pstyles {
    width: 39%;
    display: inline-block;
}

#img-cont2 {
    width: 60%;
    margin: auto;
    padding-bottom: 10px;
}

#img-cont2 img{
    width: 100%;
    margin: auto;
}

#img-cont3 {
    width: 45%;
    display: inline-block;
    padding: 1em 0;
}

#img-cont3 img {
    width: 100%;
    margin: auto;
}

.devider {
    background-color: black;
    height: 15px;
    width: 80%;
    margin: auto;
}

/*Main, table, contact*/

.table-container {
    background-color: rgba(0, 204, 68, 0.5);
    width: 60%;
    margin: auto;
    padding-bottom: 10px;
}

table {
    margin: 10px auto;
    font-size: 1em;
    border: 5px double black;
    width: 70%;
}

th {
    font-weight: bolder;
}

td {
    border: 3px solid black;
    padding: 5px;
    background-color: rgba(0, 102, 34, 1);
    color: white;
}

#contact {
    height: 300px;
    width: 60%;
    margin: 10px auto;
    background-image: url(images/Ballroom.jpg);
    background-size: 100%;
    background-position: bottom;
}

#overlay {
    background-color: rgba(256, 256, 256, .2)
}

/*Footer*/

.footer {
    width: 60%;
    background-color: rgba(0, 102, 34, 1);
    margin: auto;
    height: 20px;
}