/*Universal styles*/

/*
rgb(0, 102, 34) Dark
rgb(0, 204, 68) Light
*/


html {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(images/Site-bg.jpg);
    background-attachment: fixed;
}

/*Title*/

#title {
    width: 60%;
    margin: auto;
    border: 1px solid white;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    background-color: rgba(0, 102, 34, 1);
    height: 100px;
}

#img-container1 {
    width: 60%;
    height: 400px;
    margin: auto;
    overflow: hidden;
}


/*Navigation section*/
nav {
    background-color: black;
    width: 10%;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 60px;
    top: 100px;
}

a {
    color: whitesmoke;
    font-family: fantasy;
    padding: 0.5em;
    align-self: center;
    width: 85%;
    border: 1px solid white;
}